// Fonts
$font-primary: "Barlow Semi Condensed", serif;
$fs-small: 0.6875rem;
$fs-medium: 0.8125rem;
$fs-large: 1.25rem;
$fw-lighter: 500;
$fw-bolder: 600;

// Colors
$clr-primary-dark: #733fc8;
$clr-primary-light: #a775f1;
$clr-background-body: #f2f2f2;
$clr-almost-white: #ecf2f8;
$clr-pure-white: #ffffff;
$clr-light-gray: #cfcfcf;
$clr-gray: #48556a;
$clr-black: #19202d;

// Spacing & size
$avatar-size: 1.75rem;
$gap-row: 1.5rem;
$gap-col: 1.875rem;

// Breakpoints
$bp-tablet: 48rem;
$bp-desktop: 78.125rem;
